nav {
	font-family: "georgia";
	font-size: 2vw;
	text-align: center;
}

a:link, a:visited {
	text-decoration: none;
	color: white
}

a:hover, a:active {
	text-decoration: underline;
	color: gray;
}

body {
	background-image: url("images/space.jpg");
	color: white;
	font-family: "helvetica";
    font-size: 1.5vw;
}

h1, h2, p {
	text-align: center;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed ;
	max-width: 100%; 
	height: auto;
}

#logo {
	width: 80%
}

#timer {
	width: 40%
}

#bottom_logo {
	width: 20%
}

table {
	table-layout: fixed ;
	width: 100%;
	border: 1px solid white;
}

tr, td, th {
	border: 1px solid white;
}